@import '../../bulma-variables'

.cmp-task
  &.media + &.media
    margin-top: 0
  &.prio-high
    color: $red
    strong
      color: $red
  .aux-bar-1
    margin-bottom: 0.2rem
  .tags
    .tag-due
      .in-time
        background-color: $green
        color: $grey-light
      .overdue
        background-color: $red
        color: $grey-light
  &.tag-next
    background-color: darken($purple, 30)
  &.status-active
    background-color: darken($purple, 15)
