@import '../../bulma-variables'

.cmp-task
  &.media + &.media
    margin-top: 0
  &.prio-high
    color: $red
    strong
      color: $red
  &.tag-next
    background-color: darken($purple, 30)
  &.status-active
    background-color: darken($purple, 15)
